.review-input,
.review-textarea {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 0;
  color: #666;
  font-size: 13px !important;

  outline: none;
  padding: 13px 20px !important;
  width: 100%;
}
